.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
TAPERA-Mobile-BackEnd-Preparation.exe
# Local History for Visual Studio Code
.history/